This is File created to specify the Linux Distributions/Flavours
So, the Distributions are open Source, they can be modified according to the user requirement
1) Ubuntu
2) Kali Linux
3) Open SUSE
4) Red Hat Linux
5) CentOS
6) Fedora
